@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "color-emoji";
  src: local("Apple Color Emoji"), local("Twemoji Mozilla"), local("Segoe UI Emoji"), local("Segoe UI Symbol"),
    local("Noto Color Emoji"), local("EmojiOne Color"), local("Android Emoji");

  /* Emoji unicode blocks */
  unicode-range: U+00A9, U+00AE, U+200D, U+203C, U+2049, U+20E3, U+2122, U+2139, U+2194-2199, U+21A9-21AA, U+231A,
    U+231B, U+2328, U+23CF, U+23E9-23F3, U+23F8-23FA, U+24C2, U+25AA, U+25AB, U+25B6, U+25C0, U+25FB-25FE, U+2600-27EF,
    U+2934, U+2935, U+2B00-2BFF, U+3030, U+303D, U+3297, U+3299, U+1F000-1F02F, U+1F0A0-1F0FF, U+1F100-1F64F,
    U+1F680-1F6FF, U+1F910-1F96B, U+1F980-1F9E0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    color-emoji,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/**
 * DaisyUI minor fix
 */

.btn {
  text-transform: none;
}

/* hide icon for loading */
.btn.loading > svg:first-of-type {
  display: none;
}

/* 统一 border 颜色 - 一般默认为 currentColor */
.border-color {
  @apply border-base-300;
}

@layer components {
  .border,
  .border-r,
  .border-l,
  .border-t,
  .border-b,
  .border-x,
  .border-y {
    @apply border-base-300;
  }
}

.divide-color {
  @apply divide-base-300;
}

/**
 * scrollbar style follow theme
 */
/* 更细 并跟随主题色的 滚动条 */
.scrollbar-thin {
  scrollbar-width: thin;
}

/*
scrollbar:!w-1.5 scrollbar:!h-1.5 scrollbar:bg-transparent scrollbar-track:!bg-base-100 scrollbar-thumb:!rounded
scrollbar-thumb:!bg-base-300 scrollbar-track:!rounded
 */
.scrollbar-thin {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
}

/* 角落 */
::-webkit-scrollbar-corner {
  background: oklch(var(--b1));
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  @apply rounded;
  background: oklch(var(--b1));
}

*::-webkit-scrollbar-thumb {
  @apply rounded;
  background: oklch(var(--b2));
  transition: background-color 0.2s ease-in-out;
}

*::-webkit-scrollbar-thumb:hover {
  background: oklch(var(--b3));
}

/**
 * @devbookhq/splitter https://github.com/devbookhq/splitter
 */

.__dbk__gutter {
  background: transparent !important;
}

.__dbk__dragger {
  background: transparent !important;
}

.__dbk__gutter:hover {
  background: oklch(var(--b2)) !important;

  .__dbk__dragger {
    background: oklch(var(--b3)) !important;
  }
}
