.PanelResizeLineHandle {
	background-color: var(--color-base-300);
	position: relative;
	--size: 1px;

	&:hover,
	&[data-separator="hover"],
	&[data-separator="active"] {
		&::before {
			background-color: oklch(from var(--color-base-300) calc(l - 0.2) c h);
			position: absolute;
			inset: 0;
			content: "";
			z-index: 30;
		}

		&[data-separator="active"] {
			&::before {
				background-color: var(--color-info);
			}
		}
	}

	&[aria-orientation="vertical"] {
		width: var(--size);
		cursor: col-resize;

		&::before {
			width: 3px;
			height: 100%;
			translate: -1px 0;
		}
	}

	&[aria-orientation="horizontal"] {
		height: var(--size);
		cursor: row-resize;

		&::before {
			width: 100%;
			height: 3px;
			translate: 0 -1px;
		}
	}
}
