.WindowController {
	@apply flex h-full;

	& > button {
		@apply flex items-center justify-center;
		width: 42px;

		&[data-action="close"]:hover {
			background-color: var(--color-error);
		}

		&:hover {
			background-color: var(--color-base-300);
		}
	}
}
